/* Comentários em CSS
seletor{
  propriedade: valor
  propriedade2: valor2
}
 */

/* TAGS */
* {
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  color: aliceblue;
  text-align: center;
  text-shadow: 2px 2px 2px rgb(83, 83, 83);
}

p{
  text-align: justify;
  color: white;
  font-size: 15px;
  padding: 0 200px 0 200px;
}

body {
  background-color: black;
}

header {
  background-color: brown;
  height: 120px;
  padding: 10px 0px 0px 100px; /* Borda interna */
}

footer {
  background-color: brown;
  clear: both;
  height: 15px;
  padding: 10px;
  text-align: center;
}

/* IDs */
#principal {
  background-image: url(/imagens/cidade.jpg);
  background-size: 100%;
  min-height: 500px;
  padding: 30px;
}

/* #div_e {
  background-color: chocolate;
  min-height: 500px;
  width: 60%;
  float: left;
}

#div_d {
  background-color: wheat;
  min-height: 500px;
  width: 40%;
  float: right;
} */

/* CLASS */
.container {
  width: 100%;
  justify-content: center;
  /* margin: auto; */
}

.container h1{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.button_back{
  background-color: #ffff66;
  transition-duration: 0.4s;
  font-size:12px;
  padding: 16px;
  border-radius: 8px;
  float: left; 
  margin-left: 120px;
  margin-top: 10px;
  z-index: 9;
}

.button_back a{
  text-decoration: none;
}

.button_back:hover{
  background-color: #cccc00;
}

.efeito{
  background-color: rgba(0 , 0, 0, 0.5);
  padding: 20px 0 20px 0;
}