*{
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

header{
  background:#808B96;
  display: flex;
}

header a, h3{
  text-decoration:none;
  color:#fff;
}

nav{
  display: flex;
  padding: 1.5vw 2vw;
}

nav li{
  list-style:none;
  display: inline;
  padding: 2vw;
}

nav a{
  font-size: 1.5vw;
}

nav li:hover{
  background:#273746;
}

body{
  transition: 1000ms;
}

.logo{
  font-size:4vw;
  padding: 0.5vw;
}

.switch-button{
  position: fixed;
  right: 0;
  padding-right: 1vw;
}

.switch-button:checked{
  position: fixed;
  right: 0;
  padding-right: 1vw;
}

/*DARK MODE*/
.dark-mode{
  background-color: #000;
  color: white;
  transition: 1000ms;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}