*{
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  padding: 50px 60px 0 0;
  display: flex;
  text-align: justify;
}

body{
  background-color: black;
}

p{
  color: white;
}

h3{
  color: white;
}

h2{
  color: white;
}

#img{
  min-height: 100px;
  width: 25%;
  float: left;
  padding: 0 0 0 100px;
}

#txt_header{
  min-height: 100px;
  width: 75%;
  float: right;
}

#cursos{
  padding: 0 0 0 100px;
}

#cursohtml{
  min-height: 100px;
  width: 50%;
  float: left;
}

#cursocss{
  min-height: 100px;
  width: 50%;
  float: right;
}



.button{
    background-color: rgb(255, 43, 24);
    transition-duration: 0.4s;
    font-size:12px;
    padding: 16px;
    border-radius: 8px;
    float: left;
    margin-top: 10px;
    margin-right: 10px;
    z-index: 9;
  }
  
  .button a{
    text-decoration: none;
    color: white;
  }
  
  .button:hover{
    background-color: #c61aff;
  }