*{
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

body{
  background-color: black;
}

p, h3, h2, a, i{
  color: white;
}

.logo{
  padding: 45px 0 0 0;
}

.container{
  justify-content: center;
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  max-width: 1100px;
}

.coluna{
  padding: 0 0 0 50px;
}

.foto img{
  border-radius: 20px;
}

.txt_header, .objetivos{
  text-align: justify;
  width: 300px;
  padding: 0 0 0 45px;
}

.icon_contato{
  width: 30px;
  height: 30px;
}


.material-icons {
  vertical-align:-14%
}

.button{
    background-color: rgb(255, 43, 24);
    transition-duration: 0.4s;
    font-size:12px;
    padding: 15px 15px;
    border-radius: 8px;
    float: left;
    margin-top: 10px;
    margin-right: 10px;
    }
  
  .button a{
    text-decoration: none;
    color: white;
  }
  
  .button:hover{
    background-color: #c61aff;
  }